<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <!-- Формат JSON для ELK -->
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"${appName}", "env":"${spring.profiles.active:-dev}"}</customFields>
            <includeContext>false</includeContext>
            <includeMdc>true</includeMdc>
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <fieldNames>
                <timestamp>time</timestamp>
            </fieldNames>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>

    <logger name="pers.nefedov.subscriptions" level="DEBUG"/>
</configuration>